openapi: 3.1.0
info:
  title: Flux Bank API
  version: 0.1.0
  description: Proposal-first Flux-native bank (Stainless SDK source)
servers:
  - url: https://quillon.xyz/api/v1
paths:
  /flux-bank/status:
    get:
      operationId: fluxBankStatus
      summary: Read-only bank status (Quillon metrics + Flux policy)
      parameters:
        - name: endpoint
          in: query
          schema:
            type: string
            enum: [quillon, epsilon, delta]
      responses:
        '200':
          description: Bank status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankStatusResponse'
  /flux-bank/transfer/propose:
    post:
      operationId: fluxBankProposeTransfer
      summary: Dry-run transfer proposal (no execution)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferProposal'
      responses:
        '200':
          description: Simulation result
  /flux-bank/bifrost/run:
    post:
      operationId: fluxBifrostRun
      summary: Bifrost orchestration plan (goal + moe route + bank status; proposal-only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [goal, agent_id]
              properties:
                goal: { type: string }
                agent_id: { type: string }
                priority: { type: integer }
                ttl_secs: { type: integer }
                bank_endpoint: { type: string, enum: [quillon, epsilon, delta] }
      responses:
        '200':
          description: Orchestration bundle
components:
  schemas:
    BankStatusResponse:
      type: object
      properties:
        status:
          type: object
        quillon_raw:
          type: object
    TransferProposal:
      type: object
      required: [from, to, token, amount_uqug]
      properties:
        from: { type: string }
        to: { type: string }
        token: { type: string }
        amount_uqug: { type: integer, format: int64 }
        memo: { type: string }
        dry_run: { type: boolean, default: true }
